@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 6ch;
    color: white;
    margin: 5px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3ch;
    color: white;
    font-weight: 600;
    margin: 5px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    border-bottom: 10px solid #4287f5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    height: 80vh;
    
}

#hometitle {
    background-image: url(photo4.jpeg);
}

#robottitle {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFepCBxLiZNFcBFozeg5ZWrdy_69zIOEJis4uQ4MboxOBw5t5LtySpytXKDiHpULJXDwo:https://media.cnn.com/api/v1/images/stellar/prod/230822164529-05-apptronik-apollo-robot.jpg%3Fc%3Doriginal&usqp=CAU);
}

#sponsortitle {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTc4UB0Kxe62MCEb0BBFZBbTHGaRPF3Z-ZQS7AXyeoG7qLu4OKOo0OHPGENcphX9hmFROc:https://cdn2.hubspot.net/hubfs/53/Untitled%2520design-14.png&usqp=CAU);
}

#contacttitle {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ3sntMpB_0aK74cEAhBUtkv0sObB6ImCtdX7V-8cae6NXbnW0qKQyAQpTX_HBUeWgQe0:https://t3.ftcdn.net/jpg/00/00/61/08/360_F_610851_0CMfy8H5t3hVJ6l4jWKlvjWpdHEXKG.jpg&usqp=CAU);
}

.titlecenter {
    background-color: #4287f5;
    border-radius: 10px;
    padding: 20px;
}


section div {
    text-align: center;
}

.titlecenter p,a {
    color: white;
}

.blurb {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.blurb div {
    width: 75vw;
}

p,a  {
    font-family: 'Poppins', sans-serif;
    font-size: 2ch;
    color: black;
    margin: 5px;
}

a {
    font-size: 1.5ch;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4287f5;
    position: sticky;
    top: 0px;

}

.active {
    border-radius: 5px;
    border: 2px solid white;
}

header div a {
    padding:5px;
}
header div {
    height:40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

header div img {
    width: auto;
    height: 30px;
    transition-duration: 0.4s;
}

header div img:hover {
    width: auto;
    height: 35px;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4287f5;
}
footer p {
    color: white;
}

a {
    cursor: pointer;
}